@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@font-face {
    font-family: 'Hack Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Hack Regular'), url('font/Hack-Regular.woff') format('woff');
}


@font-face {
    font-family: 'Hack Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Hack Italic'), url('font/Hack-Italic.woff') format('woff');
}


@font-face {
    font-family: 'Hack Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Hack Bold'), url('font/Hack-Bold.woff') format('woff');
}


@font-face {
    font-family: 'Hack Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Hack Bold Italic'), url('font/Hack-BoldItalic.woff') format('woff');
}
body{
    font-family: 'Montserrat', sans-serif;
}

.title{
    display: inline-block;
    font-size: 40px;
}
.top{
    flex:auto;
    text-align: center;
}

.the{

    color:rgba(42, 252, 8, 1)


}
.tag{
    color: crimson;


}
.tech{
    font-size: 30px;
    font-style: italic;
    color: rgba(193, 193, 193, 0.87);
}
.end{
    color: #008BFF;
}
body{
    background-color:   rgba(37, 37, 37, 1);
}

.desc{

    text-align: center;
    color: aliceblue;

}
.dropdown{
    padding-top: 30px;
    padding-left: 30px;

}

#language{
    padding:5px 10px ;
    border-radius: 10px;
    color:rgba(255, 184, 0, 1);
    background-color: rgba(63, 63, 63, 1);
    outline: none;
    border: none;

}

.fulleditor{
    display: flex;
    flex-wrap: wrap;

}
.editor{
    display: flex;
    flex:40%;

    margin-top: 10px;
    margin-left: 28px;
    height:630px;
    background-color: rgba(25, 25, 25, 1);
    width: 750px;
    border-radius: 10px;

}


.no{
    display: flex;
    border-radius: 6px;
    height: 100%;
    width:30px;
    background-color: rgba(51, 51, 51, 1);
}



.playarea{

    flex:auto;
    border-radius: 10px;
    margin-top: 180px;
    margin-left: 15px;

    height: 200px;
    max-width: 35px;
    background-color: rgba(79, 79, 79, 1);
}

.terminal{

    flex:40%;
    width: 550px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
    margin-top: 10px;
    height: 630px;
    padding: 20px;
    font-family: "Hack Bold","monospace";
    color: white;
    background-color: rgba(0, 0, 0, 1);
}

@media  (max-width: 800px) {
    .editor, .playarea , .terminal {
        flex: 100%;
    }
}


.textarea{
    height:630px;
    background-color: rgba(25, 25, 25, 1);
    width: 750px;
    border: none;
    outline: none;
    color: yellow;
    box-sizing: border-box;
    padding:10px;
    word-wrap: break-word;
    overflow-x:hidden ;
}

.playbutton {

    outline: none;
    padding-top:15px;
    background-color: rgba( 0,0,0,0);
    border: none;
}
.playpng{

    height: 25px;
    width: 25px;
}


.stopbutton {
    outline: none;
    padding-top: 30px;
    background-color: rgba( 0,0,0,0);
    border: none;

}
.stoppng{

    height: 25px;
    width: 25px;
}

.downloadbutton {

    outline: none;
    padding-top: 30px;
    background-color: rgba( 0,0,0,0);
    border: none;
}
.download{

    margin-bottom: 13px;
    height: 25px;
    width: 25px;
}
.playarea{

    display: grid;}






